 
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
    background-color: transparent;
    border-color: transparent;
}

.jumbotron .container {
    padding-top: 150px;
    padding-bottom: 150px;
}
